body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.perfis {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 300px;
  color: green;
}
